/*************************/
/* Variable Declarations */
/*************************/

:root {
  --colorBlue: rgb(60, 120, 140);
  --colorGrey: rgb(57, 57, 57);
  --colorOffWhite: rgb(214, 214, 214);
}

/******************/
/* Global Styling */
/******************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorGrey);
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0.2rem 0.2rem 0.2rem;
  padding: 2rem;
}

h2 {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: #000 0.1rem 0.1rem 0.1rem;
  padding: 1.4rem;
}

h3 {
  font-size: 1.4rem;
  color: #fff;
  text-shadow: #000 0.08rem 0.08rem 0.08rem;
  padding: 1rem;
}

p {
  color: var(--colorOffWhite);
  margin: auto;
  padding: 0.5rem;
}

hr {
  width: 40%;
  margin: auto;
  margin-bottom: 0.5rem;
  border: var(--colorBlue) 0.05rem solid;
}

a {
  text-decoration: none;
  color: var(--colorBlue);
}

a:hover {
  font-style: italic;
}

/**************************/
/* Header Section Styling */
/**************************/

header {
  padding-bottom: 1.4rem;
}

/****************************/
/* About Me Section Styling */
/****************************/

.aboutMe {
  width: 80%;
  margin: auto;
}

.hardEmphasis {
  font-style: italic;
  font-weight: bold;
  color: var(--colorBlue);
}

/***************************/
/* My Goal Section Styling */
/***************************/

.myGoal {
  padding-top: 1rem;
}

/*********************************/
/* My Experience Section Styling */
/*********************************/

.experience {
  width: 66%;
  margin: auto;
}

/****************/
/* List Styling */
/****************/

li {
  color: var(--colorOffWhite);
  padding: 0.25rem;
  list-style-position: inside;
}

ul {
  list-style: circle;
}

ol {
  list-style: upper-roman;
}

#lists {
  width: 50%;
  margin: auto;
}

/******************/
/* Footer Styling */
/******************/

footer {
  color: #d6d6d6;
  font-size: 1rem;
  padding: 2rem 1rem 1rem 1rem;
}
