* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  background: #d4d4d4;
}

h1 {
  padding: 1.4rem;
}

h2 {
  padding: 0.8rem;
}

p {
  padding: 0.4rem;
}