* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393939;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0.2rem 0.2rem 0.2rem;
  padding: 2rem;
}

h2 {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: #000 0.1rem 0.1rem 0.1rem;
  padding: 1.4rem;
}

h3 {
  font-size: 1.4rem;
  color: #fff;
  text-shadow: #000 0.08rem 0.08rem 0.08rem;
  padding: 1rem;
}

p {
  color: #d6d6d6;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
}

li {
  color: #d6d6d6;
  padding: 0.25rem;
  list-style-position: inside;
}

ul {
  list-style: circle;
}

ol {
  list-style: upper-roman;
}

#lists {
  width: 50%;
  margin: auto;
}

footer {
  color: #d6d6d6;
  font-size: 1rem;
  padding: 2rem 1rem 1rem 1rem;
}